{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Cartas{% endblock %}

{% block js_include %}'scripts/cartas'{% endblock %}

{% block content %}
	{% for carta in page %}
		<div>{{carta.nombre}}</div>
		<div>{{carta.numero_de_coleccionista}}</div>
		<div class="url" data-url="{{carta.get_absolute_url}}">Ver</div>
	{% endfor %}
	{% if page.has_previous %}
		<div class="url" data-url="?page={{page.previous_page_number}}">previous</div>
	{% endif %}
	{% if page.has_previous or page.has_next %}
		<div>Page {{page.number}} of {{page.paginator.num_pages}}.</div>
	{% endif %}
	{% if page.has_next %}
		<div class="url" data-url="?page={{page.next_page_number}}">next</div>
	{% endif %}
{% endblock %}

{% block css_files %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/cartas.css' %}">
{% endblock %}